<!-- <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <h1>GESINC</h1>
        <form>
          <div class="mb-3">
            <mat-form-field style="width: 300px;" appearance="outline">
              <mat-label>Seu email</mat-label>
              <div class="d-flex justify-content-between">
                <input matInput placeholder="email@dominio.com" [formControl]="email" required>
                <fa-icon [icon]="['fab', 'google']" style="font-size: 20px; color: red;"></fa-icon>
              </div>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field style="width: 300px;" appearance="outline">
              <mat-label>Digite sua senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" />
              <label class="form-check-label">
                Lembrar-me
              </label>
            </div>
            <a href="" class="text-body">Esqueceu a senha?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Não tem acesso? <a href="#!" class="link-danger">Registre-se</a>
            </p>
          </div>


          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Ou</p>
          </div>

          <div class="d-flex flex-row align-items-center justify-content-between">
            <p class="lead fw-normal mb-0 me-3">Entrar com:</p>
            <a href="#">
              <fa-icon [icon]="['fab', 'facebook']" style="font-size: 25px; color: blue;"></fa-icon>
            </a>

            <a href="#">
              <fa-icon [icon]="['fab', 'google']" style="font-size: 25px; color: red;"></fa-icon>
            </a>

            <a href="#">
              <fa-icon [icon]="['fab', 'github']" style="font-size: 25px; color: black;"></fa-icon>
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</section> -->

<div class="container d-flex justify-content-center">

  <div class="col-4">
      <div class="card shadow round mt-5">
           <div class="card-header">
               <h3 class="text-center">GESINC</h3>
           </div>

           <div class="card-body">
               <form [formGroup]="formLogin" >
                   <div class="mb-3">
                       <label class="form-label">Email</label>
                       <input type="text" class="form-control" formControlName="username">
                       <!-- <div class="form-text text-danger" *ngIf="isFormControlInvalid('username')"> O username deve conter pelo menos 6 caracteres.</div> -->
                   </div>
                   <div class="mb-3">
                       <label class="form-label">Password</label>
                       <input type="password" class="form-control" formControlName="password">
                       <!-- <div class="form-text text-danger" *ngIf="isFormControlInvalid('password')"> O password deve conter pelo menos 6 caracteres.</div> -->
                   </div>

                   <button type="button" class="btn btn-primary" [disabled]="!formLogin.valid" (click)="submitForm()">
                       Entrar
                   </button>
               </form>
           </div>

      </div>
  </div>

</div>
